<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sakila : 주소 관리</title>
	<!-- 스타일시트 css 파일 import -->
	<link rel="stylesheet" href="../style/hi.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div class="columns" style="margin:0; height: 100%">
		{{x}}
		<!-- 메뉴 -->
		<div class="column is-2 notification card is-peachy" style="margin:0;">
			<section class="section">
			    <div id="menu"></div>
			</section>
		</div>
		<!-- 내용 -->
		<div class="column">
			 <nav class="breadcrumb notification is-lighter-peachy" aria-label="breadcrumbs">
			  <ul>
			    <li><a href="#">ADDRESS</a></li>
			    <li class="is-active"><a href="#" aria-current="page">주소관리</a></li>
			  </ul>
			 </nav>
			 
			 <section class="is-content">
		   	  <h1 class="title is-4 is-spaced">🏠 주소 관리</h1>
			  <h1 class="subtitle is-6">국가/도시 선택 검색</h1>
				<!-- 국가 선택 -->
				<div class="select">
					<select id="countryList">
						<option v-for="item in country">{{ item.countryName }}</option>
					</select>
				</div>
				<!-- selecting city -->
				<div class="select" id="citys" style="display:none;">
					<select id="cityList" v-model="cityName">
						<option v-for="item in city">{{ item }}</option>
					</select>
				</div>	
				<button type="button" class="button" @click="selectAddress"> 검색 </button>
			  <hr>
			  <!-- 테이블 정보 -->
			  <h1 class="title is-5 has-text-centered is-danger">검색 결과</h1>
			  <table class="table is-hoverable is-bordered is-fullwidth">
					<thead>

						<tr>
							<th class="has-text-centered" width="5%">번호</th>
							<th class="has-text-centered">주소</th>
							<th class="has-text-centered">상세주소</th>
							<th class="has-text-centered" width="5%">지</th>
							<th class="has-text-centered" width="10%">지역</th>
							<th class="has-text-centered" width="8%">우편번호</th>
							<th class="has-text-centered" width="8%">전화 번호</th>
							<th class="has-text-centered" width="13%">마지막 수정</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="json in item"></tr>
							<td>{{item.addressId}}</td>
							<td>{{item.address}}</td>
							<td>{{item.address2}}</td>
							<td>{{item.city.cityId}}</td>
							<td>{{item.district}}</td>
							<td>{{item.postalCode}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.lastUpdate}}</td>
						</tr>
					</tbody>

				</table>
				
				<button type="button" class="button" @click="preBtn">이전</button>
				<button type="button" class="button" @click="nextBtn">다음</button>
			<hr>
		  </section>
		  <div id="foot"></div>
		</div><!-- 내용 끝 -->
	</div><!-- columns 끝 -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/sakilaCRM.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
var currentPage = 1;
var lastPage;

var vm = new Vue({
	el: ".columns",
	data: {
		x:1,
		json:[{}],
		cityName : "",
		country : [{}],
		city : [{}],
	},
	mounted() {
		console.log("getting Info! ");
		$.ajax({
			url:"/sakila/address/SelectCountryListAll", 
			method: "POST",
			success : function(json){
				console.log("아휴 힘들")
			}
		});
	},
	methods: {
		selectAddress : function(){
			
			console.log("cityName: ", this.cityName);
			if(this.cityName === ""){
				alert("도시를 선택해주세요");
				return;
			}
			
			
		},
		
		nextBtn : function(){
			this.x = 10;
			if(currentPage >= lastPage){
				alert("마지막 페이지입니다.")
				return;
			}
			
			currentPage ++;
			getAddressList();
		},
		prevBtn : function(){
			if(currentPage <= 1){
				alert("이전 페이지가 없습니다.")
				return;
			}
			
			currentPage --;
			getAddressList();
		},
	},
});

function getAddressList(){
	console.log("get getAddressList")
	
		
}






/* 
	
	// country 목록 출력
	$.ajax({
		url:"/sakila/address/SelectCountryListAll", 
		method: "POST",
		success : function(json){
				$(json).each(function(index, item){
				temp="<option value='";
				temp+=item.countryId;
				temp+="'>";
				temp+=item.country;
				temp+="</option>";
				$("#countryList").append(temp);
			});
		}
	});	
	
	// 나라 선택시 나라 번호 출력 & city list select
	$("#countryList").change(function(){
		console.log($("#countryList").val())
		// when country selected -> 도시 목록 출력
		$.ajax({
			url:"/sakila/address/SelectCityListByCountry", 
			method: "POST",
			data : {"countryId" : $("#countryList").val()},
			success : function(json){
				$(json).each(function(index, item){
					temp="<option value='";
					temp+=item.cityId;
					temp+="'>";
					temp+=item.city;
					temp+="</option>";
					$("#cityList").append(temp);
				});
				$("#citys").fadeIn();
			},
			error:function(){
				alert("불러오기 실패");
				console.log(json)
			}
		});
	});
	
	
	
	
	//이전 버튼
	$("#preBtn").click(function(){
		if(currentPage === 1){
			alert(" 현재 1페이지 입니다. 더 이상 앞으로 갈 수 없습니다.");
			return;
		}
		currentPage -=1;
		console.log(currentPage);
		
		$("#list").empty();
		// 목록 출력
		getList();	
	});
	
	// 다음 버튼
	$("#nextBtn").click(function(){
		
		
		let lastPage = Math.ceil(count / 10);
		if(currentPage == lastPage){
			alert(" 현재 마지막페이지 입니다. 더 이상 다음으로 갈 수 없습니다.");
			return;
		}
		
		currentPage +=1;
		console.log(currentPage);
		
		$("#list").empty();
		// 목록 출력
		getList();
		
	});
	
	$("#selectAddress").click(function(){
		console.log("selectAddress 버튼 clicked"); 
		currentPage = 1;
		if($("#cityList").val() === ""){
			alert("도시를 지정해주세요 !");
		}else{					
			$.ajax({
				url: "/sakila/address/SelectAddressListByCity",
				method: "POST", 
				data: {currentPage : currentPage, cityId: $("#cityList").val()},
				success: function(json){
					console.log(json);
					console.log("cityList: ",$('#cityList').val());
					//비우고
					$("#list").empty();				
					$(json).each(function(index, item){
						
						$("#list").append(html);
					})					
				}
			});	// ajax end		
		}//else end
	});//click end
	  */
	
	
	
</script>
</html>