<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sakila : 도시 관리</title>
<!-- 스타일시트 css 파일 import -->
<link rel="stylesheet" href="../style/hi.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div class="columns" style="margin:0; height: 100%">
		<!-- 메뉴 -->
		<div class="column is-2 notification card is-peachy" style="margin:0;">
			<section class="section">
			    <component v-bind:is="testCompo"></component>
			</section>
		</div>
		<!-- 내용 -->
		<div class="column">
			 <nav class="breadcrumb notification is-lighter-peachy" aria-label="breadcrumbs">
			  <ul>
			    <li><a href="#">ADDRESS</a></li>
			    <li class="is-active"><a href="#" aria-current="page">도시관리</a></li>
			  </ul>
			 </nav>
			 
			<section class="is-content">
		   	 	<h1 class="title is-4 is-spaced">🌇 도시 관리</h1>
				<h1 class="subtitle is-6">도시 선택지 추가</h1>
				<div>
					<!-- 국가 선택 -->
					국가<br>
					<div class="select">
						<select id="countryList" v-model="countryId">
							<option selected value="0">추가할 도시의 국가 선택 </option>
							<option v-for="item in country" :value="item.countryId">{{ item.country }}</option>
						</select>
					</div>
					<br>
					<!-- 정보 입력 --> 
					도시명<br>
					 <input type="text" class="input tile is-3" v-model="cityName"><br>
					<button type="button" class="button is-light is-rounded is-danger tile is-2" @click="addCity"> 도시추가 </button>
				</div>
				<hr>
				<h2 class="title is-5 has-text-centered">도시 목록</h2>
				<table class="table is-fullwidth is-bordered is-hoverable">
					<thead>
					<tr>
						<th>등록번호</th>
						<th>도시명</th>
						<th>마지막 수정</th>
						<th>국가번호</th>
						<th>국가명</th>
						<th>국가 수정일</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in json">
							<td>{{ item.cityId }}</td>
							<td>{{ item.city }}</td>
							<td>{{ item.lastUpdate }}</td>
							<td>{{ item.country.countryId }}</td>
							<td>{{ item.country.country }}</td>
							<td>{{ item.lastUpdate }}</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="button" id="preBtn">이전</button>
				<button type="button" class="button" id="nextBtn">다음</button>
			</section>
			<component :is="footer"></component>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/sakilaCRM.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
var currentPage = 1;
var lastPage = 0;

var vm = new Vue({
	el: ".columns",
	data: {
		json:[{}],
		country : [{}], 
		countryId : 0,
		cityName : "",
		testCompo: Menu,
		footer : Footer,
	},
	mounted() {
		console.log("getting Info! ");
		console.log("get city Count");
		// city count | lastPage
		$.ajax({
			url : "/sakila/address/SelectCityCount",
			method : "POST",
			async : false,
			success : function(json){
				lastPage = (json%10!=0) ? parseInt(json/10)+1 : parseInt(json/10);
				console.log(lastPage);
			}
		}); 

		// country 목록 출력
		$.ajax({
			url:"/sakila/address/SelectCountryListAll", 
			method: "POST",
			success : function(json){
				vm.country = json; 
				console.log("vm.country", vm.country);
			}
		});	
		// city 목록 출력 
		getCitylist();
	},
	methods: {  
		addCity : function(){
			console.log("vm.cityName: ", vm.cityName);
			console.log("vm.countryId: ", vm.countryId);
			$.ajax({
				url:"/sakila/address/InsertCity", 
				method: "POST",
				data : {countryId : vm.countryId, city : vm.cityName},
				async : false,
				success : function(json){
					alert("추가완료");
				}
			});	
			getCitylist();
		},
		nextBtn : function(){
			if(currentPage >= lastPage){
				alert("마지막 페이지입니다.")
				return;
			}
			currentPage ++;
			getCitylist();
		},
		prevBtn : function(){
			if(currentPage <= 1){
				alert("첫 페이지 입니다.")
				return;
			}
			currentPage --;
			getCitylist();
		},
	},
});

function getCitylist(){
	$.ajax({
		url: "/sakila/address/SelectCityList",
		method: "POST",
		data : { currentPage : currentPage},
		success : function(json){
			console.log(json);
			vm.json = json;
			console.log("vm.json: ", vm.json);
		}
	});		
}

		
	 
</script>
</html>