<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sakila : 국가 관리</title>
<!-- 스타일시트 css 파일 import -->
<link rel="stylesheet" href="../style/hi.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div class="columns" style="margin:0; height: 100%">
	<!-- {{x}} -->
		<!-- 메뉴 -->
		<div class="column is-2 notification card is-peachy" style="margin:0;">
			<section class="section">
			    <div id="menu"></div>
			</section>
		</div>
		<!-- 내용 -->
		<div class="column">
			 <nav class="breadcrumb notification is-lighter-peachy" aria-label="breadcrumbs">
			  <ul>
			    <li><a href="#">ADDRESS</a></li>
			    <li class="is-active"><a href="#" aria-current="page">국가관리</a></li>
			  </ul>
			 </nav>
			 
			<section class="is-content">
		   	 	<h1 class="title is-4 is-spaced">🌍 국가 관리</h1>
				<h1 class="subtitle is-6">국가 선택지 추가</h1>
				<hr>
				<div class="columns">
					<div class="column">
						국가명 <input class="input" v-model="countryName" type="text">
					</div>
					<div class="column">
						<br><button class="button is-light is-danger is-rounded" type="button" @click="addCountry">국가추가</button>
					</div>
				</div>
				<hr>
				<h2 class="title is-5 has-text-centered">국가 목록 조회</h2>
				<!-- {{json}} -->
				<table class="table is-hoverable is-fullwidth is-bordered">
					<thead>
						<tr>
							<th>등록번호</th>
							<th>국가명</th>
							<th>마지막 수정</th>
						</tr>
					</thead>
					<tbody id="list">
						<tr v-for="jsons in json">
							<td>{{ jsons.countryId }}</td>
							<td>{{ jsons.country }}</td>
							<td>{{ jsons.lastUpdate }}</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="button" @click="prevBtn">이전</button>
				<button type="button" class="button" @click="nextBtn">다음</button>
			</section>
			<div id="foot"></div>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/sakilaCRM.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
var currentPage = 1;
var lastPage;

var vm = new Vue({
	el: ".columns",
	data: {
		x:1,
		json:[{}],
		countryName : "",
	},
	mounted() {
		console.log("getting Info! ");
		getCountryList();
	},
	methods: {
		addCountry : function(){
			//insert 버튼 클릭시 실행
			// 버튼 클릭시 클릭 함수가 실행된다.
			console.log("country Value: ", this.countryName);
			if(this.countryName === ""){
				alert("국가 이름을 입력해주세요");
				return;
			}
			
			$.ajax({	
				url : "/sakila/address/InsertCountry",
				method: "POST",
				data: {country: this.countryName },
				async : false,
				success : function(){
					console.log("succeed!");
				},
			});
			
			// 추가 후 페이지 수 갱신
			$.ajax({
				url : "/sakila/addrerss/selectCountryCount",
				method : "POST",
				success : function(json){
					console.log(json);
					let count = Number(json);
					lastPage = Math.ceil(count / 10);
					console.log(lastPage);
					
					// 갱신 후 출력
					getCountryList();
				}
			});
		},
		
		nextBtn : function(){
			this.x = 10;
			if(currentPage >= lastPage){
				alert("마지막 페이지입니다.")
				return;
			}
			
			currentPage ++;
			getCountryList();
		},
		prevBtn : function(){
			if(currentPage <= 1){
				alert("이전 페이지가 없습니다.")
				return;
			}
			
			currentPage --;
			getCountryList();
		},
	},
});

function getCountryList(){
	console.log("get CountryList")
	$.ajax({
		url: "/sakila/address/SelectCountryList",
		method: "POST",
		data : { currentPage : currentPage},
		success : function(json){
			console.log(json);
			vm.json = json;	
			console.log("vm.json",vm.json);
		}
	});		
}

	/* $("#list").empty();
	// 처음 페이지 열었을 때 목록 출력
			
	
	//이전 버튼
	$("#preBtn").click(function(){
		if(currentPage === 1){
			alert(" 현재 1페이지 입니다. 더 이상 앞으로 갈 수 없습니다.");
			return;
		}
		currentPage -=1;
		console.log(currentPage);
		
		$("#list").empty();
		// 목록 출력
		$.ajax({
			url: "/sakila/address/SelectCountryList",
			method: "POST",
			data : { currentPage : currentPage},
			success : function(json){
				console.log(json);
				for(let i =0; i < json.length; i++){
				let html = "<tr>";
				html += "<td>"+json[i].countryId+"</td>";
				html += "<td>"+json[i].country+"</td>";
				html += "<td>"+json[i].lastUpdate+"</td>";
				html += "</tr>";
				$("#list").append(html);     
				}
										
			}
		});		
	});
	
	// 다음 버튼
	$("#nextBtn").click(function(){
		let count = 0;
		
		
		let 
		if(currentPage == lastPage){
			alert(" 현재 마지막페이지 입니다. 더 이상 다음으로 갈 수 없습니다.");
			return;
		}
		
		currentPage +=1;
		console.log(currentPage);
		
		$("#list").empty();
		// 목록 출력
		$.ajax({
			url: "/sakila/address/SelectCountryList",
			method: "POST",
			data : { currentPage : currentPage},
			success : function(json){
				console.log(json);
				for(let i =0; i < json.length; i++){
				let html = "<tr>";
				html += "<td>"+json[i].countryId+"</td>";
				html += "<td>"+json[i].country+"</td>";
				html += "<td>"+json[i].lastUpdate+"</td>";
				html += "</tr>";
				$("#list").append(html);
				}
										
			}
		});		
	});
	 */
	
	
</script>
</html>