@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');	

body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow-y: auto;
	font-family: 'Noto Sans KR', sans-serif;
}

#aside {
	width: 220px;
	height: 3000px;
	position: fixed;
	background: orange;
	overflow: hidden;
	float: left;
	align : center;
	align-content
}

#form{
	border: none;
}

#section {
	margin-left: 300px;
	margin-right: 200px;
	margin-bottom: 100px;
	background: white;
}


.t1{
	font-size: small;
	color: #804000;
	text-indent: 2em;
}

a{
	text-decoration:none;
	font-weight: 500;
	color:black;
}

a:hover{
	font-weight: 800;
	background-color: black;
	color:orange;
	font-size: larger;
}

tr, td{
	border-top: 1px solid grey;
}

.table-hover tr:hover{
	background: orange;
}

table{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	width:100%
}

thead, th{
	background: orange;
	font-weight: 600;
}

li{
	list-style : none;
	list-style-position: inside;
	letter-spacing: 5px;
	text-indent: 1em;
}

input{
	font-size: medium;
	font-family: 'Noto Sans KR', sans-serif;
	border: none;
	border-bottom: 2px solid orange;
}

select{
	font-size: medium;
	font-family: 'Noto Sans KR', sans-serif;
	border-radius: 7px;
	background: orange;
}

option:hover{
	font-weight: 800;
}

button{
	font-size: medium;
	font-family: 'Noto Sans KR', sans-serif;
	border : none;
	font-weight: 500;
	background: orange;	
	letter-spacing: 5px;
	cursor: pointer;
	border-radius: 7px;
	margin: 2px;
	padding-left: 15px;
	padding-right: 15px;
}

button:hover{
	background: black;
	color:orange;
}